/* css styles */
.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-pro-<uniquifier> {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/ <weight>: Use a value from 200 to 900
// <uniquifier>: Use a unique and descriptive class name

.noto-serif-tc-<uniquifier> {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body {
  font-family: "Open Sans", "Noto Serif TC", sans-serif;
  line-height: 1.8;
}

code, pre {
  font-family: "JetBrains Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sedan", "Crimson Pro", "Noto Serif TC", serif;
}

